
.select2-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
    -moz-box-sizing: border-box;
}
.select2-container .select2-choice {
    background-clip: padding-box;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center bottom , #EEEEEE 0%, white 50%);
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    color: #444444;
    display: block;
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.select2-container.select2-drop-above .select2-choice {
    background-image: -moz-linear-gradient(center bottom , #EEEEEE 0%, white 90%);
    border-bottom-color: #AAAAAA;
    border-radius: 0 0 4px 4px;
}
.select2-container .select2-choice span {
    display: block;
    margin-right: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container .select2-choice abbr {
    background: url("../img/select2.png") no-repeat scroll right top transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    font-size: 1px;
    height: 12px;
    outline: 0 none;
    position: absolute;
    right: 26px;
    text-decoration: none;
    top: 8px;
    width: 12px;
}
.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}
.select2-drop {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #AAAAAA #AAAAAA;
    border-image: none;
    border-radius: 0 0 4px 4px;
    border-right: 1px solid #AAAAAA;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    color: #000000;
    margin-top: -1px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;
}
.select2-drop.select2-drop-above {
    border-bottom: 0 none;
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #AAAAAA;
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
    margin-top: 1px;
}
.select2-container .select2-choice div {
    background: -moz-linear-gradient(center bottom , #CCCCCC 0%, #EEEEEE 60%) repeat scroll 0 0 #CCCCCC;
    border-left: 1px solid #AAAAAA;
    border-radius: 0 4px 4px 0;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}
.select2-container .select2-choice div b {
    background: url("../img/select2.png") no-repeat scroll 0 1px transparent;
    display: block;
    height: 100%;
    width: 100%;
}
.select2-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding-left: 4px;
    padding-right: 4px;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}
.select2-search-hidden {
    display: block;
    left: -10000px;
    position: absolute;
}
.select2-search input {
    background: url("../img/select2.png") no-repeat scroll 100% -22px, -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%) repeat scroll 0 0 transparent;
    border: 1px solid #AAAAAA;
    border-radius: 0 0 0 0;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 1em;
    height: auto !important;
    margin: 0;
    min-height: 26px;
    outline: 0 none;
    padding: 4px 20px 4px 5px;
    width: 100%;
}
.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}
.select2-search input.select2-active {
    background: url("../img/spinner.gif") no-repeat scroll 100% center, -moz-linear-gradient(center bottom , white 85%, #EEEEEE 99%) repeat scroll 0 0 transparent;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    border: 1px solid #5897FB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: medium none;
}
.select2-dropdown-open .select2-choice {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center bottom , white 0%, #EEEEEE 50%);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #AAAAAA #AAAAAA transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #FFFFFF inset;
}
.select2-dropdown-open .select2-choice div {
    background: none repeat scroll 0 0 transparent;
    border-left: medium none;
}
.select2-dropdown-open .select2-choice div b {
    background-position: -18px 1px;
}
.select2-results {
    margin: 4px 4px 4px 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 4px;
    position: relative;
}
.select2-results ul.select2-result-sub {
    margin: 0;
}
.select2-results ul.select2-result-sub > li .select2-result-label {
    padding-left: 20px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 40px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 60px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 80px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 100px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 110px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 120px;
}
.select2-results li {
    display: list-item;
    list-style: none outside none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}
.select2-results .select2-result-label {
    cursor: pointer;
    margin: 0;
    padding: 3px 7px 4px;
}
.select2-results .select2-highlighted {
    background: none repeat scroll 0 0 #3875D7;
    color: #FFFFFF;
}
.select2-results li em {
    background: none repeat scroll 0 0 #FEFFDE;
    font-style: normal;
}
.select2-results .select2-highlighted em {
    background: none repeat scroll 0 0 transparent;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: none repeat scroll 0 0 #F4F4F4;
    display: list-item;
}
.select2-results .select2-disabled {
    display: none;
}
.select2-more-results.select2-active {
    background: url("../img/spinner.gif") no-repeat scroll 100% center #F4F4F4;
}
.select2-more-results {
    background: none repeat scroll 0 0 #F4F4F4;
    display: list-item;
}
.select2-container.select2-container-disabled .select2-choice {
    background-color: #F4F4F4;
    background-image: none;
    border: 1px solid #DDDDDD;
    cursor: default;
}
.select2-container.select2-container-disabled .select2-choice div {
    background-color: #F4F4F4;
    background-image: none;
    border-left: 0 none;
}
.select2-container-multi .select2-choices {
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(center top , #EEEEEE 1%, #FFFFFF 15%);
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    cursor: text;
    height: auto !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.select2-container-multi .select2-choices {
    min-height: 26px;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897FB;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: medium none;
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none outside none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none;
    box-shadow: none;
    color: #666666;
    font-family: sans-serif;
    font-size: 100%;
    height: 15px;
    margin: 1px 0;
    outline: 0 none;
    padding: 5px;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: url("../img/spinner.gif") no-repeat scroll 100% center #FFFFFF !important;
}
.select2-default {
    color: #999999 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-clip: padding-box;
    background-color: #E4E4E4;
    background-image: -moz-linear-gradient(center top , #F4F4F4 20%, #F0F0F0 50%, #E8E8E8 52%, #EEEEEE 100%);
    border: 1px solid #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 2px #FFFFFF inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 5px 3px 18px;
    position: relative;
}
.select2-container-multi .select2-choices .select2-search-choice span {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: none repeat scroll 0 0 #D4D4D4;
}
.select2-search-choice-close {
    background: url("../img/select2.png") no-repeat scroll right top transparent;
    display: block;
    font-size: 1px;
    height: 13px;
    outline: medium none;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 12px;
}
.select2-container-multi .select2-search-choice-close {
    left: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #F4F4F4;
    background-image: none;
    border: 1px solid #DDDDDD;
    cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    background-color: #F4F4F4;
    background-image: none;
    border: 1px solid #DDDDDD;
    padding: 3px 5px;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
}
.select2-result-selectable .select2-match, .select2-result-unselectable .select2-result-selectable .select2-match {
    text-decoration: underline;
}
.select2-result-unselectable .select2-match {
    text-decoration: none;
}
.select2-offscreen {
    left: -10000px;
    position: absolute;
}
.select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
    background-image: url("../img/select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
}
.select2-search input {
    background-position: 100% -21px !important;
}
